// header (create/review-F and create/review-Q)
.header {
    padding: 15px 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 9px 0px;
    &__icon {
        i {
            color: var(--main-blue);
            font-size: 30px;
        }
    }
}
// main
.main {
    height: calc(100vh - 96.5px);
    position: relative;
    margin: 30px 8% 0;
    &__title {
        display: flex;
        align-items: baseline;
        justify-content: center;
        column-gap: 50px;
        .title__name {
            letter-spacing: 1px;
            &--big {
                font-size: 40px;
            }
            &--small {
                font-size: 30px;
                display: inline-block;
                padding: 5px 10px;
                color: white;
                background-color: #2a388f;
                border-radius: 10px;
                font-weight: 500;
            }
        }
    }
    &__review {
        margin-top: 120px;
        .form-Q {
            &__question {
                p {
                    padding: 20px 20px;
                    border-radius: 10px;
                    font-size: 30px;
                    text-align: justify;
                    background-color: var(--light-gray);
                }
            }
            &__answers {
                margin-top: 80px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                gap: 20px;
                .answer__item {
                    padding: 10px;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    .choice {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 10px;
                        &--orange {
                            background-color: #f7961b;
                        }
                        &--blue {
                            background-color: #2a388f;
                        }
                        span {
                            padding: 10px 20px;
                            font-size: 30px;
                            color: white;
                            font-weight: 700;
                        }
                    }
                    .choice-content {
                        p {
                            font-weight: lighter;
                            text-align: justify;
                            margin-left: 20px;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
    &__btn-next {
        position: absolute;
        bottom: 60px;
        left: 50%;
        transform: translateX(-50%);
    }
    &__btn-result {
        position: absolute;
        bottom: 60px;
        right: 0;
    }
    .main__btn {
        color: white;
        border-radius: 10px;
        padding: 5px 15px;
        span {
            letter-spacing: 1px;
        }
    }
    .btn--orange {
        background-color: #f7961b;
    }
    .btn--blue {
        background-color: #2a388f;
    }
}
