// main
.main {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .left-side {
        background-image: url(../../../../../Images/Log-Sign/signlog2.svg);
        background-position: center;
        background-size: cover;
    }
    .right-side {
        padding: 20px 14%;
        .log-sign {
            display: flex;
            margin-top: 30px;
            &__title {
                min-width: 110px;
                font-size: 30px;
                margin: 0 32px 0 0;
                .cross {
                    width: 76%;
                    height: 5px;
                    background-color: var(--main-orange);
                }
            }
            &__back {
                color: var(--main-blue);
                margin-left: 51%;
            }
        }
        //
        .social-log-in {
            margin-top: 50px;
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 15px;
            text-align: center;
            .social__link {
                color: var(--rich-gray);
                border: 1px solid #d9dde8;
                border-radius: 10px;
                padding: 25px;
                display: inline-block;
                width: 100%;
                i {
                    font-size: 30px;
                    margin-right: 10px;
                    &.fa-facebook {
                        color: #0b82ee;
                    }
                    &.fa-google {
                        color: #ed2607;
                    }
                    &.fa-apple {
                        color: #586380;
                    }
                }
                span {
                    font-size: 20px;
                    letter-spacing: 1px;
                    font-weight: 600;
                }
            }
        }
        //
        .cross-email {
            margin-top: 35px;
            display: grid;
            grid-template-columns: 4fr 2fr 4fr;
            .cross-line-1 {
                width: 100%;
                height: 2px;
                background-color: var(--main-blue);
                align-self: center;
            }
            .or-email {
                text-align: center;
                span {
                    font-weight: 600;
                    font-size: 16px;
                    color: #586380;
                }
            }
        }
        //
        .form-log-in {
            margin-top: 35px;
            .log-in__input {
                border: none;
                outline: none;
                padding-bottom: 8px;
                width: 100%;
                font-size: 20px;
                font-weight: 400;
            }
            //
            ::placeholder {
                color: var(--light-gray);
            }
            //
            .cross-line-2 {
                height: 2px;
                background-color: black;
            }
            //
            .pass-forgot {
                margin-top: 15px;
                display: flex;
                justify-content: space-between;
                a {
                    font-size: 14px;
                    font-weight: 600;
                    color: var(--main-orange);
                }
            }
            .log-in__text {
                font-weight: 600;
                font-size: 14px;
                color: var(--rich-gray);
            }
            //
            #form__terms {
                margin: 20px 0;
                text-align: center;
                span {
                    font-size: 14px;
                    color: rgb(88, 99, 128);
                }
                a {
                    font-size: 16px;
                    text-decoration: none;
                    font-weight: bolder;
                    color: var(--main-orange);
                }
            }
            //
            .form__btn {
                input {
                    border: none;
                    width: 100%;
                    padding: 25px 0;
                    cursor: pointer;
                    background-color: var(--main-blue);
                    color: white;
                    font-size: 20px;
                    border-radius: 10px;
                }
            }
        }
    }
}
